<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books List</title>
    <!-- Підключення Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
    <div class="container py-5">
        <h1 class="mb-4">Books</h1>
        <a href="{% url 'book_create' %}" class="btn btn-primary mb-3">Add New Book</a>
        <ul class="list-group">
            {% for book in books %}
            <li class="list-group-item">
                <a href="{% url 'book_detail' book.id %}" class="text-decoration-none">{{ book.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Підключення Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
